@{
    ViewData["Title"] = "Product List";
    Layout = "_Admin_Layout";
}

<link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="~/css/sweetalert/sweetalert2.min.css" rel="stylesheet" />
<style type="text/css" rel="stylesheet">
    .spn-bg-edit-action {
        background: #28a745;
        color: #fff;
        border-radius: 10px;
        padding: 3px;
        display: inline-flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: row-reverse;
    }

    .spn-bg-delete-action {
        background: #bd2130;
        color: #fff;
        border-radius: 10px;
        padding: 3px;
        display: inline-flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: row-reverse;
    }
</style>
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Product List</h1>
        <button type="button" onclick="window.location.href='/Product/AddNew';" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-plus"></i> Product
        </button>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table id="tblProduct" class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Size</th>
                            <th>Variant</th>
                            <th>Unit</th>
                            <th>Barcode</th>
                            <th>QRCode</th>
                            <th>ReleasedOn</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="confirmation">
        <div class="roleManage modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title">Do you really want to delete?</h4>
                </div>
                <div class="modal-body">
                    <p>After deleting this data, will not available in this table!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger confirmed" data-dismiss="modal">Yes, I Want</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No, I don't</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/sweetalert/sweetalert2.all.min.js"></script>
    <script type="text/javascript">
        var id = 0;
        var tblProduct;
        var infoMessage = '@TempData["InfoMessage"]';
        var errorMessage = '@TempData["ErrorMessage"]';

        $(document).ready(function () {
            if (infoMessage != null && infoMessage != "") {
                Swal.fire({
                    position: 'top-end', width: 400,
                    type: 'success',
                    text: infoMessage,
                    showConfirmButton: false,
                    timer: 5000
                });
            }
            if (errorMessage != null && errorMessage != "") {
                Swal.fire({
                    position: 'top-end', width: 400,
                    type: 'error',
                    text: errorMessage,
                    showConfirmButton: false,
                    timer: 5000
                });
            }

            tblProduct = $('#tblProduct').DataTable({
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "pageLength": 10,
                "ordering": false,
                "processing": true,
                "serverSide": true,
                "filter": true,
                "paging": true,
                "responsive": true,
                "ajax": {
                    "url": "/Product/AjaxProducts",
                    "data": function (d) { }
                },
                "columns": [
                    { "data": "productCode" },//Column Number:0
                    {
                        "render": function (data, type, row, meta) {
                            return '<img src="'
                                + row.productImageUrl
                                + '" alt="' + row.productCode + '_Product Image" style="width:70px; height:60px;" />';
                        }
                    },//Column Number:1
                    { "data": "productName" },//Column Number:2
                    { "data": "brand" },//Column Number:3
                    { "data": "size" },//Column Number:4
                    { "data": "variant" },//Column Number:5
                    { "data": "unit" },//Column Number:6
                    {
                        "render": function (data, type, row, meta) {
                            return '<span style="display:inline-flex;"><img src="'
                                + row.barcodeImagePath
                                + '" alt="Barcode Image" style="width:50px; height:50px;" />'
                                + ' &nbsp;<a href="'
                                + row.barcodeImagePath
                                + '" download data-toggle="tooltip" data-placement="top" title="Barcode Download"><i class="fas fa-download bg-info-action"></i></a></span>';
                        }
                    },//Column Number:7
                    {
                        "render": function (data, type, row, meta) {
                            return '<span style="display:inline-flex;"><img src="'
                                + row.qrcodeImagePath
                                + '" alt="Barcode Image" style="width:50px; height:50px;" />'
                                + ' &nbsp;<a href="'
                                + row.qrcodeImagePath
                                + '" download data-toggle="tooltip" data-placement="top" title="Qrcode Download"><i class="fas fa-download bg-info-action"></i></a></span>';
                        }
                    },//Column Number:8
                    {
                        "render": function (data, type, row, meta) {
                            if (row.releaseDate != null && row.releaseDate != "") {
                                return row.releaseDate;
                            }
                            else {
                                return row.creationDate;
                            }
                        }
                    },//Column Number:9
                    {
                        "title": "Status",//Column Number:10
                        "render": function (data, type, row, meta) {
                            if (row.productStatus) {
                                return '<span class="spn-bg-edit-action" data-toggle="tooltip" data-placement="top" title="Active">Active<i class="fas fa-check-circle"></i></span>';
                            }
                            else {
                                return '<span class="spn-bg-delete-action" data-toggle="tooltip" data-placement="top" title="InActive">InActive<i class="fas fa-times-circle"></i></span>';
                            }
                        }
                    },
                    {
                        "title": "Action",//Column Number:11
                        "render": function (data, type, row, meta) {
                            return '<a class="update" href="/Product/Edit/' + row.productId + '" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit bg-edit-action"></i></a>';
                            //return '<a class="update" href="/Product/Edit/' + row.productId + '" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit bg-edit-action"></i></a> &nbsp;<span class="delete" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash-alt bg-delete-action"></i></span>';
                        }
                    }
                ],
                "drawCallback": function (settings) {
                    $('[data-toggle="tooltip"]').tooltip();
                }
            });

            $(function () {
                $('#tblProduct tbody').on('click', 'span.delete', function () {
                    $('#confirmation').modal();
                    var v = $(this).parent().parent();
                    var rowData = tblProduct.row(v).data();
                    id = parseInt(rowData.productId);
                });
            });

            $(function () {
                $('#confirmation').on('click', '.confirmed', function () {
                    $.get("/Product/DeleteProduct/" + id, function (data) {
                        if (data.sucMessage != null && data.sucMessage != "") {
                            Swal.fire({
                                position: 'top-end', width: 400,
                                type: 'success',
                                text: data.sucMessage,
                                showConfirmButton: false,
                                timer: 5000
                            });
                        } else if (data.errMessage != null && data.errMessage != "") {
                            Swal.fire({
                                position: 'top-end', width: 400,
                                type: 'error',
                                text: data.errMessage,
                                showConfirmButton: false,
                                timer: 5000
                            });
                        }
                        id = 0;
                        tblProduct.ajax.reload();
                    });
                });
            });
        });
    </script>
}