@{
    ViewData["Title"] = "Home Page";
    Layout = "_Login_Layout";
}

<div class="text-center w3-container w3-red w3-center" style="padding:128px 16px">
    <h2 class="w3-margin w3-jumbo text-uppercase">Delivering Quality Education</h2>
    <h1 class="w3-xlarge font-weight-bold text-uppercase">Student Performance Analysis</h1>
    <div style="">
        @*<button class="btn btn-danger w3-button w3-black w3-padding-large w3-large w3-margin-top" onclick="window.location.href='/Account/Registration';">Registration</button>*@
        <button class="btn btn-danger w3-button w3-black w3-padding-large w3-large w3-margin-top" onclick="window.location.href='/Home/AboutUs';">About Us</button>
        <button class="btn btn-info w3-button w3-black w3-padding-large w3-large w3-margin-top" onclick="window.location.href='/Account/Index';">Faculty/Admin Login</button>
    </div>
</div>