@{
    ViewData["Title"] = "PrivacyPolicy";
    Layout = "_Login_Layout";
}

<div class="text-center w3-container w3-red w3-center" style="padding:128px 16px">
    <h2 class="w3-margin w3-jumbo text-uppercase">Delivering Quality Education</h2>
    <h1 class="w3-xlarge font-weight-bold text-uppercase">Student Performance Analysis</h1>
    <div style="">
        <h1>PrivacyPolicy</h1>
    </div>
</div>

