<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img style="height:60px" src="~/asset/images/new-logo.png" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="pull-right">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark nav-link-custom" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark nav-link-custom" asp-area="" asp-controller="Home" asp-action="ProjectDetails"><i class="fas fa-desktop"></i> Project Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark nav-link-custom" asp-area="" asp-controller="Home" asp-action="AboutUs"><i class="fas fa-address-card"></i> About Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <ul class="navbar-nav flex-grow-1 pull-right">
                            <li class="nav-item">
                                <a class="nav-link text-dark nav-link-custom" asp-area="" asp-controller="Account" asp-action="Index"><i class="fas fa-user-lock"></i> Login Area</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex">
            <div class="w-50">
                <span>&copy; 2021 - DIU 68th Batch Students</span>
            </div>
            <div class="w-50">
                <span style="float:right">Design & Developed By ARIF</span>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var successMeessage = "@TempData["InfoMessage"]";
            var errorMessage = "@TempData["ErrorMessage"]";
            if (successMeessage && successMeessage != "") {
                $("#SuccessNotificationMSG").text(successMeessage);
            }
            if (errorMessage && errorMessage != "") {
                $("#ErrorNotificationMSG").text(errorMessage);
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
