@{
    ViewData["Title"] = "Student | MyProfile";
    Layout = "_Student_Layout";
}

<section class="main-body-content">
    <h2>Welcome To Your Dashboard | Student</h2>
    <div class="line"></div>
    <h2>Academic Students Performace Analysis</h2>
    <p>From here admin can manages all staff and student users, semesters, course, student marks & result evalution using Fuzzy Logic(It's a trendy artificial intelligence algorithm). Staff can manages all students and their marks & results based on semesters. And last thing is that student only can view their result by selecting semester and can update their profile informations</p>
</section>

